body {
    margin: 15px auto;
    padding: 0 10px;
}

div#navbar ul {
    list-style: none;
    padding-left: 0
}

div#navbar li {
    display: inline;
    padding: 10 5px;
}

h1,h2,h3,h4,h5,h6 {
	text-decoration: bold;
}

p {
    overflow: hidden;
    max-width: 80ch;
    white-space: wrap;
}

a:link, a:visited {
    color: blue;
	text-decoration: none;
}

a:hover {
	font-size: 110%;
}

img {
    width: 50%;
}

/* Redefine for browser dark color scheme */

@media (prefers-color-scheme: dark) {
    body {
        background-color: #0f111b;
        color: #FFFFFF;
    }
    h1,h2,h3,h4,h5,h6 {
        color: #7a5ccc;
    }
    a:link, a:visited {
        color: #5ccc96;
    }
}
